<header style="background-color: white; color: black;text-align: left">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
          <h3 class="widget-user-username"><%= @user.first_name%> <%= @user.last_name %></h3>
          <h5 class="widget-user-desc"><%= @user.email %></h5>
        </div>
        <div class="widget-user-image">
          <% if @profile.picture.nil? %>
          <%= image_tag 'user.jpg', class: "img-circle" %>
              <% else %>
          <img class="img-circle" src="<%= @profile.picture %>" alt="User Avatar" width="128px" height="128px">
              <% end %>
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header"><%= link_to @requests, requests_path %></h5>
                <span class="description-text">Requests</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header"><%= link_to @delivers, delivers_path %></h5>
                <span class="description-text">Delivers</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header">99%</h5>
                <span class="description-text">Review</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <%= form_for(@profile) do |f| %>
          <div class="form-group has-feedback">
            <%= f.text_field :home, :class => 'form-control',:placeholder => "Work Address" %>
            <span class="glyphicon glyphicon-home form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <%= f.text_field :work, :class => 'form-control',:placeholder => "Home Address" %>
            <span class="glyphicon glyphicon-briefcase form-control-feedback"></span>
          </div>
          <%= f.submit "Update", class: "btn btn-primary btn-block btn-flat" %>
      <% end %>
    </div>
  </div>
</header>