<header style="background-color: white; color: black;text-align: left">
  <br>

  <div class="login-box">
  <div class="login-box-body">
    <h3 class="login-box-msg">Sign in</h3>
    <%= form_for(:session, url: login_path) do |f| %>
        <div class="form-group has-feedback">
        <%= f.email_field :email, :class => 'form-control',:placeholder => "email" %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
        <div class="form-group has-feedback">
        <%= f.password_field :password, :class => 'form-control',:placeholder => "password" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <%= f.submit "Log in", class: "btn btn-block btn-flat" %>
    <% end %>
    <br>
    <a>Forgot your password?</a>
    <hr>
    <span>Need an account? </span><%= link_to "Sign up", 'signup' %>

  </div>
</div>
  </header>