<% unless @search.blank? %>
    <script
    src="https://maps.google.com/maps?file=api&v=2.x&key=AIzaSyAyVqL6TzewfAs5xwkht2pS4YkWiNazxNM"
    type="text/javascript"></script>
<% end %>
<header style="background-color: white; color: black;text-align: left">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4>Total requests: <span class="badge" style="background-color:blue"><%= @search.length %></span></h4>
        <div id="map" style="width: 100%; height: 350px;"></div>
        <% @search.each do |f| %>
            <div class="box">
              <div class="box-header">
              <span class="text-uppercase large bold" style="font-weight: bold; font-size:120%; font-family: Arial">
                <%= f.PlaceName	  %>
                <span style="color: lightgray; font-size: 50%"><%= f.CatName %></span>
              </span>
                <span class="pull-right" style="color:lightslategray"><i class="glyphicon glyphicon-time"></i> <span class="timerInfo"><%= f.delivery_at %></span></span>
              </div>

              <div class="box-body">
                <div class="searchBody">
                  <% if f.picture.nil? %>
                      <%= image_tag 'user.jpg', class: "searchImage img-circle" %>
                  <% else %>
                      <img class="searchImage img-circle" src="<%= f.picture %>" alt="User Avatar">
                  <% end %>

                  <span class="text" style="font-size: 90%;color:gray"><%= f.first_name	  %>  <%= f.last_name	  %></span>
                  <span id="fees" class="label label-success pull-right">$ <%= f.fees %></span>
                  <span class="pull-right" style="color: gray;font-size: 75%; margin-right: 5px"><%= f.items.length %> Items   </span>


                </div>

                <div class="section">
                  <span class="small text text-warning" style="font-size: 70%">Placed On <%= f.created_at.strftime("%b, %d %Y") %></span>
                  <%= link_to "View Order <i class='glyphicon glyphicon-menu-right'></i>".html_safe, searchs_path(f.id), :class => 'btn btn-app pull-right' %>
                </div>
              </div>
            </div>
        <%	 end  %>
      </div>
    </div>

  </div>
</header>