<div class="login-box">
  <div class="login-box-body">

    <!-- Your form here -->
    <%= form_for(@user) do |f| %>

        <div class="form-group has-feedback">
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'First Name' %>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Last Name' %>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
        <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email' %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
        <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Retype password' %>
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>

        <%= f.submit "Create my account", :class => 'btn btn-primary btn-block btn-flat' %>
    <% end %>
    <% if @user.errors.any? %>
        <ul class="Signup_Errors">
          <% for message_error in @user.errors.full_messages %>
              <li>* <%= message_error %></li>
          <% end %>
        </ul>
    <% end %>

  </div>
</div>