<header style="background-color: white; color: black;text-align: left">
<div class="login-box">
  <div class="login-box-body">

    <!-- Your form here -->
    <%= form_for(@user) do |f| %>

        <h3>Welcome to DelivMy</h3>
        <hr>
        <h5>Create Account</h5>
        <div class="form-group has-feedback">
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'First Name' %>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Last Name' %>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
        <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email' %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
        <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Retype password' %>
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <%= f.label "Optional Info" %>
          <ul class="list-group">
            <%= f.fields_for :profile do |profile_form| %>
                <li>
                  <%= render "profile_fields", :f => profile_form  %>
                </li>
            <% end %>
          </ul>
        </div>

        <% if @user.errors.any? %>
            <div id="error_messages">
              <span style="color: red">
                <%= pluralize(@user.errors.count, "error") %> prohibited
                this user from being added:
              </span>
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li style="color: red"><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.submit "Create my account", :class => 'btn btn-block btn-flat', style: "background-color:#cc0038;color:white" %>
    <% end %>
  </div>
  <br>
  <span>Already have account? </span><%= link_to "Sign in", 'login' %>

</div>
  </header>