<div class="login-box">
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <!-- Your form here -->
    <%= form_for(@user) do |f| %>

        <div class="form-group has-feedback">
        <%= f.text_field :first_name, :placeholder => 'First Name' %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.submit "Update my account" %>
    <% end %>

  </div>
</div>

