<header style="background-color: white; color: black;text-align: left">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% @requests.each do |f| %>
          <div class="box box-info">
            <div class="box-header"><%= f.PlaceName	  %>  </div>

            <div class="box-body">
              <a><%= f.first_name	  %>  <%= f.last_name	  %></a>
              <%= f.cost  %>
            </div>
            <%= link_to "Info", request_path(f), :class => 'btn btn-app' %>
          </div>
      <%	 end  %>
    </div>
  </div>

</div>
</header>