<header style="background-color: white; color: black;text-align: left">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="box box-info">
  <div class="box-header">Submit Request</div>
  <div class="box-body">

    <%= form_for (@request) do |f| %>

        <div class="form-group">
          <%= f.label "Step 1: Select Category" %>
          <%= f.collection_select :category_id, @category, :id, :CatName, :class => 'form-control'%>
        </div>
        <div class="form-group has-feedback">
          <%= f.label "Step 2: Select Place Name" %>
        <%= f.text_field :PlaceName, :class => 'form-control', :placeholder => 'Place Name'	  %>
          <span class="glyphicon glyphicon-plus-sign form-control-feedback"></span>
        </div>


        <div class="form-group has-feedback">
          <%= f.label "Step 3: Select Location" %>
          <ul class="list-group">
            <%= f.fields_for :location do |location_form| %>
                <li>
                  <%= render "location_fields", :f => location_form  %>
                </li>
            <% end %>
          </ul>
        </div>


        <div class="form-group has-feedback">
          <%= f.label "Step 4: Add Items" %>
          <ul class="list-group">
            <%= f.fields_for :items do |items_form| %>
                <li>
                  <%= render "items_fields", :f => items_form  %>
                </li>
            <% end %>
          </ul>
        </div>

        <div class="form-group">
          <%= f.label "Step 5: Select Delivery Time" %>
          <div>
          <%= f.datetime_select :delivery_at, :default => 3.hours.from_now%>
          </div>
        </div>

        <div class="form-group has-feedback">
          <%= f.label "Step 6: Add Total Cost and Delivery Tip" %>
          <%= f.number_field :cost, :class => 'form-control', :placeholder => '$ Total Cost' %>
        </div>
        <div class="form-group has-feedback">
          <%= f.number_field :fees, :class => 'form-control', :placeholder => '$ Add Tip' %>
        </div>

        <% if @request.errors.any? %>
        <div id="error_messages">
              <span style="color: red">
                <%= pluralize(@request.errors.count, "error") %> prohibited
                this user from being added:
              </span>
          <ul>
            <% @request.errors.full_messages.each do |msg| %>
                <li style="color: red"><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


        <%= f.submit "Add Request", :class => 'btn btn-success' %>
    <% end %>
  </div>
  </div>
    </div>
  </div>
</div>
</header>