<!DOCTYPE html>
<html>
<head>
  <title>DelivMyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="backg">
<div class="header">
  <div class="content">
    <!--<%= link_to(root_path) do %>-->
        <!--<h1>Deliv<span class="dark">My</span></h1>-->
    <!--<% end %>-->


    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <!-- Your code here -->
            <% if current_user %>
                <ul class="nav navbar-nav">
                  <li><%= link_to "All Requests", requests_path	  %></li>
                  <li><%= link_to "Add Requests", requests_new_path	  %></li>
                  <li><a href="#"><%= current_user.email %></a></li>
                  <li><%= link_to "settings", user_path %></li>
                  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                </ul>
            <% else %>
                <ul class="nav navbar-nav">
                  <li><%= link_to "Login", 'login' %></li>
                <li><%= link_to "Signup", 'signup' %></li>
                </ul>
            <% end %>
          </a>
        </div>
      </div>
    </nav>


  </div>
</div>

<%= yield %>

</body>
</html>
