<!DOCTYPE html>
<html>
<head>
  <title>DelivMyApp</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="backg">
<div class="">
  <div class="">

    <nav class="navbar navbar-default">

      <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DelivMy</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Your code here -->
            <% if current_user %>
                <ul class="nav navbar-nav">
                  <li><%= link_to "All Requests", requests_path	  %></li>
                  <li><%= link_to "Add Requests", requests_new_path	  %></li>

                  </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><%= current_user.email %></a></li>
                  <li><%= link_to "settings", user_path %></li>
                  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                </ul>
            <% else %>
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "Login", 'login' %></li>
                <li><%= link_to "Signup", 'signup' %></li>
                </ul>
            <% end %>
          </a>
        </div>
      </div>
    </nav>


  </div>
</div>

<%= yield %>

</body>
</html>
